bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.8
Flask==1.1.2
Flask-SocketIO==5.0.1
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==0.4.17
grequests==0.6.0
h11==0.11.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pydantic==1.7.3
python-engineio==4.0.0
python-socketio==5.0.4
requests==2.25.1
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
