<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"  crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('logged_in', function(msg){
            document.getElementById('username').innerHTML = msg;
        });
    </script>
</head>
<body>
    <hr />
    <a href="./submissions">Go to All submissions</a>
    <hr />

    <h1>Registration Frontend - Welcome</h1>
    <h3>Hello {{ name }}</h3>
    <p>Demande d'inscription</p>
    <p id="username">TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>
</body>
</html>
